<div class="index-content">
  <h2 class="author">Hi,I am <%- config.author %> ! </h2>
  <p class="ahthor-detail"><%- config.author_detail %> </p>
  <ul class="author-contact">
    <li class="author-contact-detail"><i class="iconfont icon-github"></i></li>
  </ul>
</div>
