<main id="index">
  <div class="index-content">
    <h2 class="author">Hi, I am <%- config.author %> ! </h2>
    <p class="author-detail" id="typewriter">&nbsp;</p>
    <ul class="author-contact">
      <li class="author-contact-detail"><a href="<%- theme.social_links.github %>"><i
            class="iconfont icon-github"></i></a></i></li>
      <li class="author-contact-detail"><a href="mailto:<%- theme.social_links.mail %>"><i
            class="iconfont icon-emailFilled"></i></a></i></li>
      <li class="author-contact-detail"><a href="<%- theme.social_links.zhihu %>"><i
            class="iconfont icon-zhihu"></i></a></i></li>
    </ul>
  </div>
</main>
