
@import "normalize.css"
@import "iconfont/iconfont.css"

*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    font-size:16px;
}

@import "_partial/index.styl"
@import "_partial/header.styl"
@import "_partial/footer.styl"


// Code style 
//@import "_highlight/" + $highlight
