<header id="header">

  <div class="header-left">
    <div>
      <img src="<%- url_for('gravatar/tumbleweed.png') %>" alt="gravatar">
    </div>
    <h1><%= config.title %></h1>
  </div>

  <div class="header-right">
    <div id="close-curtain">&times;</div>
    <ul class="header-right-nav">
      <li class="icon"><a href="#"><i class="iconfont icon-home1"><span>主页</span></i></a></li>
      <li class="icon"><a href="#"><i class="iconfont icon-category"><span>归档</span></i></a></li>
      <li class="icon"><a href="#"><i class="iconfont icon-tag"><span>标签</span></i></a></li>
      <li class="icon"><a href="#"><i class="iconfont icon-search"><span>搜索</span></i></a></li>
    </ul>
  </div>

  <i class="iconfont icon-home1 curtain-click"></i>
</header>
