#footer{
  position:fixed;
  height: 3.5rem;
  left :0;
  right:0;
  bottom:0;
    .footer-copyright{      
      background: #333;
      text-align: center;
      color:white;
      line-height: 3.5rem;
    }
  }
 