#header{
    display:flex;
    padding: 0 1em;
    height:3.5rem;
    justify-content: space-between;
    align-items: center;
    background:#333;
    color:#fff;
    .header-left{
      width:12%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      div{
        width:3rem;
        height:3rem;
        img{
          width:100%;
          display:block;
          border-radius:50%;
          filter: invert(100%) contrast(200%);
        }
      }
      h1{
        font-size:1.4rem;
        font-weight: normal;
      }
    }
    .header-right{
      width:30%;
      .header-right-nav{
        list-style: none;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        .icon{
          a{
            text-decoration: none;
            color:white;
            cursor :pointer
            i{
              font-size: 1.2rem;
            }
          } 
          &:hover{
            border-bottom:solid 1px orange;
          }
        }

      }
    }

  }