#header{
    position:relative;
    //display:flex;
    padding: 0 1em;
    height:3.5rem;
    //justify-content: space-between;
    //align-items: center;
    background:#333;
    color:#fff;
    .header-left{
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:14%;
      margin:0 auto;
      div{
        width:3rem;
        height:3rem;
        img{
          width:100%;
          display:block;
          border-radius:50%;
          filter: invert(100%) contrast(200%);
        }
      }
      h1{
        font-size:1.2rem;
        font-weight: normal;
      }
    }
    .header-right{
      display:none;
      width:33%;
      .header-right-nav{
        list-style: none;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        .icon{
          a{
            text-decoration: none;
            color:white;
            cursor :pointer
            i{
              font-size: 1rem;
            }
          } 
          &:hover{
            border-bottom:solid 1px orange;
          }
        }

      }
    }
    .curtain-click{
      display:block;
      position:absolute;
      width:3rem;
      height:3rem;
      top:0;
      right:0;
      font-size:2.4rem;
      line-height: 3.5rem;
    }
}
@meida screen and(min-width )