
.index-content{
    // background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
    width:100%;
    max-width :980px;
    margin: 0 auto;
    .author{
        text-align:center;
      }
    .author-detail{
        author-detail:center;
      }
      .author-contact{
        .author-contact-detail{
          
          }
        .author-contact-detail:hover{
            background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
          }
        }

  }